{
  "extends": [
    "airbnb",
    "prettier"
    ],
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
        "prettier/prettier": "error",
        "linebreak-style": 0,
        "no-param-reassign": ["error", { "props": false }],
        "import/no-commonjs": 2
    },
  "env":{
    "node": true,
    "jest": true
    },
    "parser": "babel-eslint"
}
